<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
          <a routerLink="users" class="nav-link" routerLinkActive="active">List User</a>
      </li>
      <li class="nav-item">
          <a routerLink="create-user" class="nav-link" routerLinkActive="active">Create User</a>
      </li>
      <li class="nav-item">
          <a routerLink="cars" class="nav-link" routerLinkActive="active">List Car</a>
      </li>
    </ul>
  </nav>
  
  
  <div class="container">
    <br>
    <h2 style="text-align: center;">{{title}}</h2>
    <hr>  
    <div class="card">
      <div class="card-body" style="overflow:auto;height: 65vh;">
    <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  
  <footer class="footer">
    <div class="container">
        <span>All Rights Reserved 2020 @Saulo de Tarso</span>
    </div>
  </footer>