<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>List Car</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Year</th>
            <th>License Plate</th>
            <th>Model</th>
            <th>Color</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let car of carList">
            <td>{{car.year}}</td>
            <td>{{car.licensePlate}}</td>
            <td>{{car.model}}</td>
            <td>{{car.color}}</td>
            <td><button (click)="deleteCar(car.id)" class="btn btn-danger">Delete</button>
                <button (click)="carDetails(car.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>